{% load static %}
{% load thumbnail %}
{% load cart_tags %}

<ul class="cart-form__products cart-products">
    {% for product in cart  %}

        <li class="cart-products__item cart-product">
            <div class="cart-product__thumb">
                <a href="{{ product.get_absolute_url }}" class="thumb">
                    {% if product.images.first %}
                        <img src="{{ product.images.first.file | thumbnail_url:'medium' }}"
                             alt="{{ product.images.first.alt  }}"
                        loading="lazy">
                    {% endif %}
                </a>
            </div>

            <div class="cart-product__name" data-label="Товар">
                <h2 class="cart-product__title">
                    <a href="{{ product.get_absolute_url }}">
                        {{ product.name }}
                    </a>
                </h2>
                <p class="cart-product__sku">
                    <span>Артикул:</span>
                    <strong>{% firstof product.sku '#Н/Д' %}</strong>
                </p>
            </div>
            <div class="cart-product__info">
                <p class="cart-product__quantity" data-label="Количество">
                    <span>Количество: </span>
                    <strong>{% cart_quantity cart.cart product.pk %}</strong>
                </p>
                <p class="cart-product__price" data-label="Цена">
                    <span>Цена: </span>
                    <strong>{% cart_subtotal cart.cart product.pk %} руб.</strong>
                </p>
            </div>
            <div class="product-remove__wrapper">
                <a href="{% url 'cart:cart_remove' product.id %}" class="cart-product__remove"
                   aria-label="удалить товар из корзины"></a>
            </div>
        </li>
    {% endfor %}
</ul>
