{% extends 'layout/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Корзина{% endblock %}

{% block breadcrumbs %}
{% include 'breadcrumbs.html' %}
{% endblock %}

{% block content %}
<section class="cart">
    <div class="container">
        <div class="section-header">
            <h1 class="section-header__title">Корзина</h1>
        </div>
        {% if cart %}
        <div class="cart-form">
            {% include 'cart/cart.html' %}
            {% include 'cart/cart-totals.html' %}
        </div>
        {% else %}
        <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
</section>
<!-- /.cart -->
{% endblock %}