{% load static %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Главная {% endblock %}- IT.zone</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div class="wrapper">

    <div class="content">

        <div class="toper">
            <div class="container">
                <div class="toper-row">
                    <ul class="toper-menu">
                        <li class="toper-menu__item">
                            <a href="#">Оплата и доставка</a>
                        </li>
                        <li class="toper-menu__item">
                            <a href="#">Партнёры</a>
                        </li>
                        <li class="toper-menu__item">
                            <a href="#">О компании</a>
                        </li>
                        <li class="toper-menu__item">
                            <a href="#">Блог</a>
                        </li>
                        <li class="toper-menu__item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                    <ul class="toper-contacts">
                        <li class="toper-contacts__item">
                            <a href="#">
                                <img src="{% static 'img/icon-mail.png' %}" alt="конверт">
                                <span>info@gmail.com</span>
                            </a>
                        </li>
                        <li class="toper-contacts__item">
                            <a href="#">
                                <img src="{% static 'img/icon-phone.png' %}" alt="телефон">
                                <span>+7 (495) 748-07-77</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.toper-row -->
            </div>
        </div>
        <!-- /.toper -->

        <header class="header">
            <div class="container">
                <div class="header-row">
                    <a href="{% url 'catalog:home' %}" class="header-logo">
                        <img src="{% static 'img/logo.png' %}" width="150" height="30" alt="логотип" class="header-logo__img">
                    </a>
                    <ul class="header-services">
                        <li class="header-services__item">
                            ИТ-Услуги
                        </li>
                        <li class="header-services__item">
                            ИБ-Услуги
                        </li>
                    </ul>
                    <button class="header-menu_btn">
                        <div class="header-menu__controls">
                            <h3 class="header-menu__title">Каталог</h3>
                            <div class="btn"></div>
                        </div>
                    </button>

                    <div class="header-controls">
                        <form class="header-controls__search">
                            <input type="text" class="search-query" name="s" placeholder="Поиск">
                            <button type="submit" aria-label="Поиск">
                                <img src="{% static 'img/icon-search.png' %}" width="32" height="32" alt="поиск">
                            </button>
                        </form>
                        <div class="header-controls__links control-links">
                            <a class="control-links__item btn_add-to-wishlist" href="{% url 'wishlist:wishlist_detail' %}"
                               aria-label="избранное">
                                <img src="{% static 'img/icon-heart.png' %}" alt="сердце">
                                <span class="cnt" data-cnt="{{ wishlist|length }}">
                                    {% if wishlist|length < 10 %}
                                    {{ wishlist|length }}
                                    {% else %}
                                    9+
                                    {% endif %}
                                </span>
                            </a>
                            <a class="control-links__item btn_cart-link" href="{% url 'cart:cart_detail' %}"
                               aria-label="корзина">
                                <img src="{% static 'img/icon-cart.png' %}" alt="корзина">
                                <span class="cnt" data-cnt="{{ cart_len }}">
                                    {% if cart_len < 10 %}
                                    {{ cart_len }}
                                    {% else %}
                                    9+
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </div>
                    <button type="button" class="btn__mobile-menu" aria-label="открыть меню">
                        <span></span>
                    </button>
                </div>
            </div>
            {% if categories|length %}
            <div class="header-menu-wrapper">
                <div class="container">
                    <ul class="main-menu">
                        {% for item in categories %}
                        {% with parent_cat=item.category %}
                        <li class="main-menu__item">
                            <span>{{ parent_cat.name }}</span>
                            <div class="main-menu__sub sub-wrapper">
                                <h2 class="sub-wrapper__title"><a href="{{ parent_cat.get_absolute_url }}">{{ parent_cat.name }}</a></h2>

                                {% if parent_cat.description %}
                                    <p class="sub-wrapper__subtitle">
                                        {{ parent_cat.description|linebreaks }}
                                    </p>
                                {% endif %}
                                {% if item.childrens|length > 0 %}
                                <ul class="sub-wrapper__group sub-menu">
                                    {% for child_cat in item.childrens %}
                                    <li class="sub-menu__item sub-item">
                                        <a href="{{ child_cat.get_absolute_url }}">
                                            {% if child_cat.image %}
                                            <div class="thumb">
                                                <img src="{{ child_cat.image | thumbnail_url:'small' }}"
                                                     alt="{{ child_cat.name }}">
                                            </div>
                                            {% endif %}
                                            <div class="sub-item__info">
                                                <h3 class="sub-item__title">
                                                    {{ child_cat.name }}
                                                </h3>
                                                {% if child_cat.description %}
                                                <p class="sub-item__subtitle">
                                                    {{ child_cat.description|linebreaks }}
                                                </p>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </li>
                        {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.header-menu-wrapper -->
            {% endif %}

            <div class="mobile-menu-wrapper">
                <div class="container">
                    <ul class="mobile-menu">
                        <li class="mobile-menu__item">
                            <a href="#">Оплата и доставка</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#">Партнёры</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#">О компании</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#">Блог</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                    <ul class="mobile-contacts">
                        <li class="mobile-contacts__item">
                            <a href="#">
                                <img src="{% static 'img/icon-mail.png' %}" alt="конверт">
                                <span>info@gmail.com</span>
                            </a>
                        </li>
                        <li class="mobile-contacts__item">
                            <a href="#">
                                <img src="{% static 'img/icon-phone.png' %}" alt="телефон">
                                <span>+7 (495) 748-07-77</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.mobile-menu-wrapper -->

        </header>
        <!-- /.header -->

        {% block breadcrumbs %}{% endblock %}

        {% block content %}{% endblock %}

    </div>
    <!-- /.content -->

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-logo">
                    <a href="{% url 'catalog:home' %}">
                        <img src="{% static 'img/logo-footer.png' %}" width="150" height="31" alt="логотип">
                    </a>
                    <p>© Все права защищены</p>
                </div>

                <div class="footer-middle">
                    <ul class="footer-menu">
                        <li class="footer-menu__item">
                            <a href="#">Оплата и доставка</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">Партнёры</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">О компании</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">Блог</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                    <ul class="footer-socials">
                        <li class="footer_socials__item">
                            <a href="#" aria-label="перейти во фейсбук">
                                <img src="{% static 'img/icon-facebook.png' %}" alt="фейсбук">
                            </a>
                        </li>
                        <li class="footer_socials__item">
                            <a href="#" aria-label="перейти в инстаграм">
                                <img src="{% static 'img/icon-instagram.png' %}" alt="инстаграм">
                            </a>
                        </li>
                    </ul>
                </div>
                <form class="footer-subscribe">
                    <h3 class="footer-subscribe__title">
                        Подписаться на новости
                    </h3>
                    <input type="email" placeholder="Ваш E-mail">
                    <button type="submit" class="btn btn_submit">
                        <span>
                            Подписаться
                        </span>
                    </button>
                </form>
            </div>
            <!-- /.footer-row -->
        </div>
    </footer>
    <!-- /.footer -->

</div>
<!-- /.wrapper -->

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/slick-1.8.1.min.js' %}"></script>
<script src="{% static 'js/ion.range-slider.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/product-filter.js' %}"></script>
</body>
</html>
