{% load static %}
{% load thumbnail %}
{% load metatags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% include_metatags object default_title=title default_description='✓ Компъютерная техника для офиса и дома, It-услуги по выгодным ценам' default_keywords='Компътеры, ноутбуки, it-услуги' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block payment %}{% endblock %}
</head>
<body>

<div class="wrapper">

    <div class="content">

        <div class="toper">
            <div class="container">
                <div class="toper-row">
                    {% if pages or contacts %}
                    <ul class="toper-menu">
                        <li class="toper-menu__item">
                            <a href="{% url 'blog:archive_blog' %}">Новости</a>
                        </li>
                        {% for page in pages %}
                        <li class="toper-menu__item">
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                        {% if contacts %}
                        <li class="toper-menu__item">
                            <a href="{{ contacts.get_absolute_url }}">Контакты</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    {% if contacts %}
                    <ul class="toper-contacts">
                        <li class="toper-contacts__item">
                            <a href="mailto:{{ contacts.email }}">
                                <img src="{% static 'img/icon-mail.png' %}" alt="конверт">
                                <span>{{ contacts.email }}</span>
                            </a>
                        </li>
                        <li class="toper-contacts__item">
                            <a href="{{ phone_link }}">
                                <img src="{% static 'img/icon-phone.png' %}" alt="телефон">
                                <span>{{ contacts.phone_1 }}</span>
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                <!-- /.toper-row -->
            </div>
        </div>
        <!-- /.toper -->

        <header class="header">
            <div class="container">
                <div class="header-row">
                    <a href="{% url 'catalog:home' %}" class="header-logo">
                        {% if header_logo %}
                            <img src="{{ header_logo.url }}" width="{{ header_logo.width }}" height="{{ header_logo.height }}" alt="логотип" class="header-logo__img">
                        {% else %}
                            <img src="{% static 'img/logo.png' %}" width="150" height="30" alt="логотип" class="header-logo__img">
                        {% endif %}
                    </a>
                    <ul class="header-services">
                        <li class="header-services__item">
                            <a href="{% url 'it-services:page' %}">ИТ-Услуги</a>
                        </li>
                        <li class="header-services__item">
                            <a href="{% url 'information-security:page' %}">СКУД</a>
                        </li>
                        <li class="header-services__item">
                            <a href="{% url 'brands:home' %}">Поставщики</a>
                        </li>
                    </ul>
                    <button class="header-menu_btn">
                        <div class="header-menu__controls">
                            <h3 class="header-menu__title">Каталог</h3>
                            <div class="btn"></div>
                        </div>
                    </button>

                    <div class="header-controls">
                        <form class="header-controls__search" method="get" action="{% url 'catalog:search' %}">
                            {{ global_form }}
                            <button type="submit" aria-label="Поиск">
                                <img src="{% static 'img/icon-search.png' %}" width="32" height="32" alt="поиск">
                            </button>
                        </form>
                        <div class="header-controls__links control-links">
                            <a class="control-links__item btn_add-to-wishlist" href="{% url 'wishlist:wishlist_detail' %}"
                               aria-label="избранное">
                                <img src="{% static 'img/icon-heart.png' %}" alt="сердце">
                                <span class="cnt" data-cnt="{{ wishlist|length }}">
                                    {% if wishlist|length < 10 %}
                                    {{ wishlist|length }}
                                    {% else %}
                                    9+
                                    {% endif %}
                                </span>
                            </a>
                            <a class="control-links__item btn_cart-link" href="{% url 'cart:cart_detail' %}"
                               aria-label="корзина">
                                <img src="{% static 'img/icon-cart.png' %}" alt="корзина">
                                <span class="cnt" data-cnt="{{ cart_len }}">
                                    {% if cart_len < 10 %}
                                    {{ cart_len }}
                                    {% else %}
                                    9+
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </div>
                    <button type="button" class="btn__mobile-menu" aria-label="открыть меню">
                        <span></span>
                    </button>
                </div>
            </div>
            {% if categories|length %}
            <div class="header-menu-wrapper">
                <div class="container">
                    <ul class="main-menu">
                        {% for item in categories %}
                        {% with parent_cat=item.category %}
                        <li class="main-menu__item">
                            <span>{{ parent_cat.name }}</span>
                            <div class="main-menu__sub sub-wrapper">
                                <h2 class="sub-wrapper__title"><a href="{{ parent_cat.get_absolute_url }}">{{ parent_cat.name }}</a></h2>

                                {% if parent_cat.description %}
                                    <p class="sub-wrapper__subtitle">
                                        {{ parent_cat.description|linebreaks }}
                                    </p>
                                {% endif %}
                                {% if item.childrens|length > 0 %}
                                <ul class="sub-wrapper__group sub-menu">
                                    {% for child_cat in item.childrens %}
                                    <li class="sub-menu__item sub-item">
                                        <a href="{{ child_cat.get_absolute_url }}">
                                            {% if child_cat.image %}
                                            <div class="thumb">
                                                <img src="{{ child_cat.image | thumbnail_url:'small' }}"
                                                     alt="{{ child_cat.name }}">
                                            </div>
                                            {% endif %}
                                            <div class="sub-item__info">
                                                <h3 class="sub-item__title">
                                                    {{ child_cat.name }}
                                                </h3>
                                                {% if child_cat.description %}
                                                <p class="sub-item__subtitle">
                                                    {{ child_cat.description|linebreaks }}
                                                </p>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </li>
                        {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.header-menu-wrapper -->
            {% endif %}

            <div class="mobile-menu-wrapper">
                <div class="container">
                    {% if pages or contacts %}
                    <ul class="mobile-menu">
                        {% for page in pages %}
                        <li class="mobile-menu__item">
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                        {% if contacts %}
                        <li class="mobile-menu__item">
                            <a href="{{ contacts.get_absolute_url }}">Контакты</a>
                        </li>
                        {% endif %}
                        <li class="mobile-menu__item">
                            <a href="{% url 'it-services:page' %}">ИТ-Услуги</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="{% url 'information-security:page' %}">СКУД</a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="{% url 'brands:home' %}">Поставщики</a>
                        </li>
                    </ul>
                    {% endif %}
                    {% if contacts %}
                    <ul class="mobile-contacts">
                        <li class="mobile-contacts__item">
                            <a href="mailto:{{ contacts.email }}">
                                <img src="{% static 'img/icon-mail.png' %}" alt="конверт">
                                <span>{{ contacts.email }}</span>
                            </a>
                        </li>
                        <li class="mobile-contacts__item">
                            <a href="{{ phone_link }}">
                                <img src="{% static 'img/icon-phone.png' %}" alt="телефон">
                                <span>{{ contacts.phone_1 }}</span>
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- /.mobile-menu-wrapper -->

        </header>
        <!-- /.header -->

        {% block breadcrumbs %}{% endblock %}

        {% block content %}{% endblock %}

    </div>
    <!-- /.content -->

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-logo">
                    <a href="{% url 'catalog:home' %}">
                        {% if header_logo %}
                            <img src="{{ footer_logo.url }}" width="{{ header_logo.width }}" height="{{ header_logo.height }}" alt="логотип" class="header-logo__img">
                        {% else %}
                            <img src="{% static 'img/logo-footer.png' %}" width="150" height="31" alt="логотип">
                        {% endif %}
                    </a>
                    <p>© Все права защищены</p>
                </div>

                <div class="footer-middle">
                    {% if pages or contacts %}
                    <ul class="footer-menu">
                        <li class="footer-menu__item">
                            <a href="{% url 'it-services:page' %}">ИТ-Услуги</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="{% url 'information-security:page' %}">СКУД</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="{% url 'blog:archive_blog' %}">Новости</a>
                        </li>
                        {% for page in pages %}
                        <li class="footer-menu__item">
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                        {% if contacts %}
                        <li class="footer-menu__item">
                            <a href="{{ contacts.get_absolute_url }}">Контакты</a>
                        </li>
                        {% endif %}
                        <li class="footer-menu__item">
                            <a href="{% url 'brands:home' %}">Поставщики</a>
                        </li>
                    </ul>
                    {% endif %}
                    {% if contacts %}
                    <ul class="footer-socials">
                        <li class="footer_socials__item">
                            <a href="{{ contacts.facebook }}" target="_blank" aria-label="перейти во фейсбук">
                                <img src="{% static 'img/icon-facebook.png' %}" alt="фейсбук">
                            </a>
                        </li>
                        <li class="footer_socials__item">
                            <a href="{{ contacts.instagram }}" target="_blank" aria-label="перейти в инстаграм">
                                <img src="{% static 'img/icon-instagram.png' %}" alt="инстаграм">
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- /.footer-row -->
        </div>
    </footer>
    <!-- /.footer -->

</div>
<!-- /.wrapper -->

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/slick-1.8.1.min.js' %}"></script>
<script src="{% static 'js/ion.range-slider.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/product-filter-new.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
