.breadcrumbs {
    padding-top: 4rem;
    line-height: 1.5;
}

.breadcrumbs-group {
    font-size: 1.3rem;
    color: #9d9d9d;
}

.breadcrumbs-group a::after {
    content: ' — ';
}

.breadcrumbs-group span {
    color: var(--color-accent);
}
