.header-controls_s {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: var(--border-light);
    border-radius: 10rem;
}

.header-controls__btn {
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: none;
    border-radius: 10rem;
}

.header-controls__btn.list {
    display: grid;
    grid-template-columns: 3px 21px;
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.5rem;
}

.header-controls__btn.list span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #c7c7c7;
}

.header-controls__btn.grid {
    display: grid;
    grid-template-columns: repeat(3, 6px);
    grid-gap: 2px;
}

.header-controls__btn.grid span {
    width: 100%;
    height: 6px;
    background-color: #c7c7c7;
}

.header-controls__btn.active,
.header-controls__btn:hover {
    background-color: var(--color-accent);
}

.header-controls__btn.active span,
.header-controls__btn:hover span {
    background-color: var(--color-text-invert);
}

.catalog-group {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    grid-gap: 3rem;
}

.products-group {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3rem;
}

.archive-product__desc {
    display: none;
}

.products-group .archive-product {
    padding: 0;
}

.catalog__aside {
    display: grid;
    grid-gap: 2.4rem;
}

.catalog__aside {
    align-self: start;
}

.sidebar_search {
    position: relative;
}

.sidebar_search input {
    display: block;
    width: 100%;
    background-color: #f2f5f8;
    border-radius: 1rem;
    border: none;
    height: 4rem;
    line-height: 4rem;
    padding-right: 4.5rem;
    padding-left: 2rem;
}

.sidebar_search [type="submit"] {
    position: absolute;
    border: none;
    background-color: transparent;
    height: 2.5rem;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.sidebar_search [type="submit"] img {
    height: 70%;
    width: auto;
}

.irs--flat .irs-handle {
    width: 4rem;
    height: 2.5rem;
    background-color: #fff;
    border: 2px solid var(--color-accent);
    border-radius: 10rem;
    top: 19px;
    box-shadow: 0 0.3rem 2.6rem 0.2rem rgba(0, 0, 0, 0.32);
}

.irs--flat .irs-handle:hover {
    cursor: pointer;
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child,
.irs--flat .irs-handle>i:first-child {
    background-color: transparent;
}

.irs--flat .irs-bar {
    background-image: linear-gradient( to right, rgb(4,98,229) 0%, rgb(65,195,255) 100%);
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    background-color: var(--color-accent);
}

.sidebar-filters__header {
    position: relative;
    font-size: 2rem;
    padding: 0.5em 0 0.6em;
    transition: color 150ms ease;
}

.sidebar-filters__header::after {
    content: '';
    position: absolute;
    top: 1.6rem;
    right: 0;
    width: 12px;
    height: 12px;
    background: url('../img/arrow-down-black.png') no-repeat center / contain;
    transition: transform 200ms ease;
}

.sidebar-filters__header.active::after {
    transform: rotate(-180deg);
}

.sidebar-filters__header:hover {
    cursor: pointer;
    color: var(--color-accent);
}

.sidebar-filters__items {
    list-style: none;
}

.sidebar-filters__items label {
    position: relative;
    padding-left: 1.2rem;
    position: relative;
    top: -2px;
    transition: color 150ms ease;
    user-select: none;
    font-size: 1.5rem;
}

.sidebar-filters__items label::before {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
}

.sidebar-filters__items label:hover {
    cursor: pointer;
}

.sidebar-filters__items input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
}

.sidebar-filters__items {
    display: grid;
    grid-row-gap: 0.5rem;
}

.sidebar-filters__items li {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    overflow: hidden;
}

.sidebar-filters__items .custom-checkbox {
    position: relative;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border: var(--border-light);
    border-radius: 4px;
}

.sidebar-filters__items .custom-checkbox::before {
    content: '';
    display: block;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: background 150ms ease;
}

.sidebar-filters__items :checked + .custom-checkbox::before {
    background-color: var(--color-accent);
    background-color: #33cbb7;
}

.sidebar-filters__items :checked ~ label {
    color: #33cbb7;
}

.catalog__show-more {
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
}

.header-filters__btn-wrapper {
    display: none;
}

@media screen and (min-width: 992px) {
    .products-group.list {
        grid-template-columns: 1fr;
    }

    .products-group.list .archive-product__desc {
        font-size: 1.4rem;
        display: block;
    }

    .products-group.list .archive-product__inner {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
        column-gap: 3rem;
        row-gap: 1.5rem;
        align-items: start;
    }

    .products-group.list .archive-product__inner .thumb {
        width: 100%;
        grid-row: 1 / span 6;
        height: auto;
        padding-top: 0;
    }

    .products-group.list .archive-product .btn__add-to-cart {
        flex-grow: 0;
    }

    .products-group.list .archive-product__controls,
    .products-group.list .archive-product__price {
        margin-top: 0;
        grid-column: 2 / -1;
    }

    .products-group.list .archive-product__controls {
        justify-content: flex-start;
    }

    .products-group.list .archive-product__inner .thumb img {
        position: static;
        width: 100%;
        height: 100%;
    }
}

