.main-banner {
    background: url('../img/bg-main.jpg') no-repeat center / cover;
    margin-bottom: 6rem;
}

.main-banner .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 12rem;
    min-height: 63rem;
}

.main-banner__header {
    width: 60%;
    flex-shrink: 0;
}

.main-banner__title {
    font-family: 'MerelBlack', sans-serif;
    font-weight: 900;
    font-size: 5.3rem;
    text-transform: uppercase;
    margin-bottom: 0.7em;
}

.main-banner__title strong {
    color: var(--color-accent);
}

.main-product {
    position: relative;
}

.main-product .thumb {
    max-width: 37rem;
}

.main-product__header {
    position: absolute;
    bottom: 0%;
    left: -20%;
    background-color: var(--color-accent);
    color: var(--color-text-invert);
    padding: 1.2rem 2.5rem;
    border-radius: 1.5rem;
    border-top-right-radius: 0;
    box-shadow: 2rem 2rem 1.6rem 0 rgba(0, 0, 0, 0.3);
    max-width: 22rem;
}

.main-product__title {
    font-family: 'Merelblack';
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.main-banner__link {
    white-space: nowrap;
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--color-text-invert);
    height: 6.4rem;
    line-height: 6.6rem;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    box-shadow: 0 0 3.2rem 0 rgba(246, 170, 28, 0.2);
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-accent-secondary);
    transition: color 200ms, background 200ms ease;
}

.main-banner__link:hover {
    color: var(--color-text-invert);
    background-color: var(--color-accent-secondary);
}

.main-banner__brands {
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
    background-color: var(--color-text-invert);
    box-shadow: 0 0 4.2rem 0.3rem rgba(0, 0, 0, 0.07);
    padding: 4rem 1.8rem;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 200ms ease;
}

.main-banner__brands.inited {
    opacity: 1;
}

.main-brands__item {
    position: relative;
    padding: 0 4.5rem;
}

.main-brands__item::before {
    position: absolute;
    top: 0;
    right: calc(100% + 1px);
    content: '';
    width: 1px;
    height: 100%;
    background-color: #e8e8e8;
}

.main-brands .slick-arrow {
    position: absolute;
    width: 5.7rem;
    height: 5.7rem;
    background-color: var(--color-text-invert);
    border-radius: 50%;
    z-index: 2;
    text-indent: -999px;
    box-shadow: 0 0 0.8rem 0 rgba(32, 99, 165, 0.11);
    border: none;
    top: 50%;
    overflow: hidden;
    transition: background 200ms;
}

.main-brands .slick-arrow:hover {
    background-color: var(--color-accent-secondary);
}

.main-brands .slick-arrow::before,
.main-brands .slick-arrow::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background: url('../img/arrow-dark.png') no-repeat center / contain;
}

.main-brands .slick-arrow::after {
    filter: invert(1);
    opacity: 0;
}


.main-brands .slick-arrow:hover::before {
    opacity: 0;
}

.main-brands .slick-arrow:hover::after {
    opacity: 1;
}

.main-brands .slick-prev {
    left: 0;
    transform: translate(-50%, -50%) scaleX(-1);
}

.main-brands .slick-next {
    right: 0;
    transform: translate(50%, -50%);
}

.main-banner__brands::before,
.main-banner__brands::after {
    content: '';
    display: block;
    width: calc(1.8rem + 2px);
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
}

.main-banner__brands::before {
    left: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.main-banner__brands::after {
    right: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.brands-item__link {
    display: block;
    height: 0;
    position: relative;
    padding-top: 21%;
}

.brands-item__link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
