.latest-products {
    background: url('../img/bg-new.jpg') no-repeat center / cover;
}

.latest-products__slider {
    list-style: none;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
    padding-bottom: 3rem;
}
