.product__title {
    font-family: 'Merelblack', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 0.6em;
}

.product__sku {
    font-weight: 600;
    color: var(--color-accent);
}

.product__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3rem;
    margin-top: 3rem;
}

.product__content,
.product__tabs {
    padding: 4.2rem 3.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.8rem 0 rgba(4, 98, 229, 0.18);
}

.product__info {
    display: grid;
    align-self: start;
    grid-gap: 2rem;
}

.product__price {
    font-weight: 800;
    font-size: 2.5rem;
}

.product__price ins {
    text-decoration: none;
}

.product__quantity {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.quantity__group {
    position: relative;
    margin-left: 4rem;
}

.quantity__input {
    width: 100%;
    max-width: 18rem;
    border: none;
    text-align: center;
    box-shadow: 0 0 4.2rem 0.3rem rgba(4, 98, 229, 0.07);
    height: 5.2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1.5rem/2.6rem;
    padding: 0 3rem;
}

.quantity__group button {
    position: absolute;
    top: 50%;
    height: 3.8rem;
    width: 3.8rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-accent);
    border-radius: 50%;
    border: none;
    background-color: var(--color-text-invert);
    box-shadow: 0 0 0.7rem 0.01rem rgba(0, 0, 0, 0.11);
}

.quantity__group .inc {
    right: 0;
    transform: translate(50%, -50%);
}

.quantity__group .decr {
    left: 0;
    transform: translate(-50%, -50%);
}

.product__excerpt {
    font-size: 1.4rem;
}

.product-features {
    list-style: none;
}

.product-features__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8;
}

.product-features__item .thumb {
    flex-shrink: 0;
    width: 7rem;
    height: 7rem;
    background-color: #f1fbfa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1.6rem;
}

.product-features__item .thumb img {
    width: 60%;
    height: 50%;
    object-fit: contain;
}

.product__add-to-cart {
    padding-top: 3rem;
    border-top: var(--border-light);
}

.aside-gallery {
    float: left;
    width: 17%;
}

.main-product-gallery {
    float: right;
    width: calc(100% - 17% - 2rem);
}

.main-product-gallery__item .thumb {
    height: 0;
    padding-top: 100%;
    position: relative;
}

.main-product-gallery__item .thumb img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}

.product__gallery {
    position: relative;
}

.product__gallery::before,
.product__gallery::after {
    content: '';
    display: table;
    clear: both;
}

.aside-gallery .aside-gallery__item {
    position: relative;
    padding: 1.5rem;
    padding-top: 120%;
}

.aside-gallery .aside-gallery__item::before {
    content: '';
    border-radius: 1rem;
    border: 1px solid rgb(206, 226, 255);
    position: absolute;
    top: 0.4rem;
    left: 0;
    right: 0;
    bottom: 0.4rem;
}

.aside-gallery__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.aside-gallery .slick-next {
    position: absolute;
    background-color: #33cbb7;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.aside-gallery .slick-next::before,
.aside-gallery .slick-next::after {
    background-image: url('../img/arrow-down.png');
}

.product__gallery .btn_add-to-wishlist {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}

.product__tabs {
    margin-top: 3rem;
}

.tabs-header {
    margin: -1.5rem;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    padding-bottom: 0.5rem;
}

.tabs-header::-webkit-scrollbar {
    height: 5px;
}

.tabs-header::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, transparent 0%, transparent 2px, #33cbb7 2px, #33cbb7 3px, transparent 3px, transparent 100%);
}

.tabs-header::-webkit-scrollbar-thumb {
    background-color: #33cbb7;
    border-radius: 100px;
}

.tabs-header::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #33b9a7;
}

.tabs-header__item {
    border: none;
    background-color: transparent;
    color: #b1b1b1;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
}

.tabs-header__item + .tabs-header__item {
    margin-left: 3rem;
}

.tabs-header__item.active {
    color: var(--color-accent);
}

.tabs-content {
    margin-top: 2rem;
    font-size: 1.4rem;
}
