{% load static %}
{% load thumbnail %}
<li class="archive-product">
    <div class="archive-product__inner">
        <a href="{{ product.get_absolute_url }}" class="thumb">
            {% if product.images.first %}
                {% if product.images.first.file %}
                <img src="{{ product.images.first.file | thumbnail_url:'medium' }}" alt="{{ product.images.first.alt  }}"
                loading="lazy">
                {% elif product.images.first.image_url %}
                <img src="{{ product.images.first.image_url }}" alt="{{ product.images.first.alt  }}"
                loading="lazy">
                {% endif %}
            {% endif %}
        </a>
        <h3 class="archive-product__title">
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </h3>
        {% if product.excerpt %}
        <p class="archive-product__desc">
            {{ product.excerpt }}
        </p>
        {% endif %}
        <p class="archive-product__price">
            <span class="current">
                {% if product.price == 1.00 %}
                    <p>Цена по запросу</p>
                {% else %}
                    {% if product.price_sale %}
                    <del>
                        {{ product.price | floatformat:"0" }} руб.
                    </del>
                    &nbsp;
                    <ins>
                        {{ product.price_sale | floatformat:"0" }} руб.
                    </ins>
                    {% else %}
                        <span>
                            {{ product.price | floatformat:"0" }} руб.
                        </span>
                    {% endif %}
                {% endif %}

            </span>
        </p>
        <div class="archive-product__controls">
            {% include 'wishlist/add-to-wishlist-form.html' %}
            <form class="add-to-cart-form add-to-cart-form_acrhive" action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form.as_p }}
                <button type="submit" class="btn btn__add-to-cart">В корзину</button>
                <a class="go-to-cart-link" href="{% url 'cart:cart_detail' %}" aria-label="перейти в корзину"></a>
            </form>
        </div>
    </div>
</li>