{% extends 'layout/base.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock %}
{% block content %}
<main class="catalog">
    <div class="container">
        <div class="section-header section-header_flex">
            <h1 class="section-header__title">{{ category.name }}</h1>
            <div class="section-header__controls header-controls_s">
                <button type="button" data-class="list" class="header-controls__btn list" aria-label="в виде списка">
                    <span></span><span></span><span></span><span></span><span></span><span></span>
                </button>
                <button type="button" data-class="grid" class="header-controls__btn grid active" aria-label="в виде плитки">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </button>
            </div>
            <div class="header-filters__btn-wrapper">
                <button class="header-filters__btn" type="button" aria-label="показать фильтры"></button>
            </div>
        </div>

        <div class="catalog-group">
            {% include 'catalog/sidebar.html' %}
            <div class="catalog__products">
                <div class="notice"></div>
                <div class="products-group_wrapper">
                    {% include 'catalog/products-list.html' %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}