{% extends 'layout/base.html' %}
{% load thumbnail %}
{% load static %}

{% block content %}
<main class="main-banner">
    <div class="container">
        <div class="main-banner__header">
            <h1 class="main-banner__title">
                <strong>Продажа</strong> ПО и IT-оборудования
            </h1>
            <a href="#" class="main-banner__link">
                Смотреть Каталог
            </a>
        </div>
        {% if banner_product %}
        {% with product=banner_product %}
        <a href="{{ product.get_absolute_url }}" class="main-banner__product main-product">
            {% if product.images.first %}
                <div class="thumb">
                    <img src="{{ product.images.first.file | thumbnail_url:'medium' }}" alt="{{ product.images.first.alt  }}">
                 </div>
            {% endif %}
            <div class="main-product__header">
                <h2 class="main-product__title">
                    {{ banner_product.name }}
                </h2>
            </div>
        </a>
        {% endwith %}
        {% endif %}
        {% if brands|length %}
        <ul class="main-banner__brands main-brands">
            {% for image in brands %}
            <li class="main-brands__item brands-item">
                <div class="brands-item__link">
                    <img src="{{ image.file | thumbnail_url:'small' }}" alt="{{ image.alt }}">
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</main>
<!-- /.main-banner -->

    {% if top_products %}
    <section class="top-products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Популярные товары</h2>
            </div>
            <ul class="top-products__slider products-slider">
                {% for product in top_products %}
                    {% include 'catalog/archive-product.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

    {% if new_products %}
    <section class="latest-products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Новинки</h2>
            </div>
            <ul class="latest-products__slider products-slider">
                {% for product in new_products %}
                    {% include 'catalog/archive-product.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

    {% if articles %}
    <section class="news">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Новости</h2>
            </div>
            <ul class="news-slider">
                {% for post in articles %}
                    {% include 'blog/archive-post.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

    <section class="advantages">
        <div class="container">
            <div class="section-header section-header_screenreader">
                <h2 class="section-header__title">Преимущества</h2>
            </div>
            <ol class="advantages-group">
                <li class="advantages-group__item advantages-item">
                    <div class="thumb">
                        <img src="{% static 'img/icon-consulting.png' %}" alt="консалтинг">
                    </div>
                    <h3 class="advantages-item__title">
                        <strong>Консалтинг</strong>
                    </h3>
                </li>
                <li class="advantages-group__item advantages-item">
                    <div class="thumb">
                        <img src="{% static 'img/icon-delivery.png' %}" alt="грузовик">
                    </div>
                    <h3 class="advantages-item__title">
                        <strong>Поставки</strong>
                    </h3>
                </li>
                <li class="advantages-group__item advantages-item">
                    <div class="thumb">
                        <img src="{% static 'img/icon-conversation.png' %}" alt="галочка">
                    </div>
                    <h3 class="advantages-item__title">
                        <strong>Поддержка</strong>
                    </h3>
                </li>
            </ol>
        </div>
    </section>
{% endblock %}