{% if products %}
    <ul class="products-group">
      {% for product in products %}
          {% include 'catalog/archive-product.html' %}
      {% endfor %}
    </ul>
{% else %}
    <p class="empty-products">По Вашему запросу товаров не найдено.</p>
{% endif %}
{% if products.paginator.num_pages > 1 %}
<div class="pagination">
    <ul class="page-links">
        {% if products.has_previous %}
            <li class="page-links__item">
                <a {% if pagination == 'manual' %}class="manual"{% endif %}
                href="?page={{ products.previous_page_number }}{% if full_path %}&{{ full_path }}{% endif %}"
                   aria-label="Предыдущие" data-page="{{ products.previous_page_number }}">←</a>
            </li>
        {% endif %}
         <li class="page-links__item">
            <span class="current">{{ products.number }} из {{ products.paginator.num_pages }}</span>
        </li>
        {% if products.has_next %}
        <li class="page-links__item">
            <a {% if pagination == 'manual' %}class="manual"{% endif %}
            href="?page={{ products.next_page_number }}{% if full_path %}&{{ full_path }}{% endif %}"
               aria-label="Следующие" data-page="{{ products.next_page_number }}">→</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}