{% load static %}
{% load catalog_tags %}
<aside class="catalog__aside sidebar">
    <form class="sidebar_search" method="get" action="{% url 'catalog:products_by_cat' slug %}">
        {{ search_form.as_p }}
        <button type="submit">
            <img width="32" height="32" src="{% static 'img/icon-search.png' %}" alt="поиск">
        </button>
    </form>

    <form class="form-filters" method="post">
        {% csrf_token %}
        <input type="hidden" name="page" value="1">
        {% if prices.max > 2000 %}
        <div class="sidebar_prices">
            <input type="text" class="js-range-slider" name="price" value=""
            data-min="{{ prices.min | floatformat:'0' | min_price }}"
            data-max="{{ prices.max | floatformat:'0' | max_price }}"
            data-from="{{ prices.current_min }}"
            data-to="{{ prices.current_max }}"
            data-step="1000">
        </div>
        {% endif %}

        {% for filter in filters %}

        <div class="sidebar-filters">
            <h3 class="sidebar-filters__header">{{ filter.name }}</h3>
            <ul class="sidebar-filters__items">
                {% for key in filter.values %}
                <li>
                    <input type="checkbox" id="f-{{ forloop.counter }}-{{ forloop.parentloop.counter }}" name="{{ filter.slug }}"
                           value="{{ key.value }}">
                    <span class="custom-checkbox"></span>
                    <label for="f-{{ forloop.counter }}-{{ forloop.parentloop.counter }}">{{ key.value }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <button class="sidebar-filters__submit" type="submit" disabled>Применить</button>
    </form>
</aside>