{% extends 'layout/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block breadcrumbs %}
{% include 'breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <main class="product">
        <div class="container">
            <h1 class="product__title">
                {{ product.name }}
            </h1>
            <p class="product__sku">
                Код: {% firstof product.sku '#Н/Д' %}
            </p>
            <div class="product__content">

                <!-- class gallery or static -->
                <div class="product__gallery gallery">
                    <div class="aside-gallery {% if product.images.count > 3 %}gallery{% else %}static{% endif %}">
                        {% for image in product.images.all %}
                            <div class="aside-gallery__item" data-slick-index="{{ forloop.counter0 }}">
                                {% if image.file %}
                                <img src="{{ image.file | thumbnail_url:'small' }}"
                                     alt="{{ image.alt }}" loading="lazy">
                                {% elif image.image_url %}
                                <img src="{{ image.image_url }}"
                                     alt="{{ image.alt }}" loading="lazy">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="main-product-gallery">
                        {% for image in product.images.all %}
                            <div class="main-product-gallery__item">
                                <div class="thumb">
                                    {% if image.file %}
                                    <img src="{{ image.file | thumbnail_url:'medium' }}"
                                         alt="{{ image.alt }}" loading="lazy">
                                    {% elif image.image_url %}
                                    <img src="{{ image.image_url }}"
                                         alt="{{ image.alt }}" loading="lazy">
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'wishlist/add-to-wishlist-form.html' %}

                </div>
                <!-- /.product__gallery -->

                <div class="product__info">
                    <div class="product__price">
                        {% if product.price_sale %}
                        <del>
                            {{ product.price | floatformat:"0" }} руб.
                        </del>
                        &nbsp;
                        <ins>
                            {{ product.price_sale | floatformat:"0" }} руб.
                        </ins>
                        {% else %}
                            <span>
                                {{ product.price | floatformat:"0" }} руб.
                            </span>
                        {% endif %}
                    </div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="add-to-cart-form">
                        {% csrf_token %}
                        <div class="product__quantity quantity">
                            <span>Выберите количество:</span>
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                {% for field in cart_product_form %}
                                    {{ field }}
                                {% endfor %}
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>

                        {% if product.excerpt %}
                            <div class="product__excerpt">
                                {{ product.excerpt }}
                            </div>
                        {% endif %}
                        <ul class="product__features product-features">
                            <li class="product-features__item">
                                <div class="thumb">
                                    <img src="{% static 'img/icon-delivery-secondary.png' %}" alt="доставка">
                                </div>
                                Доставка по Москве за 2-3 дня <br>
                                Доставка по всей России
                            </li>
                        </ul>
                        <div class="product__add-to-cart">
                            <button type="submit" class="btn btn_add-to-cart"><span>Купить</span></button>
                            <a href="{% url 'cart:cart_detail' %}" class="cart-link">
                                <img src="{% static 'img/icon-cart-dark.png' %}" alt="корзина">
                                <span>Корзина</span>
                            </a>
                        </div>
                    </form>
                </div>
                <!-- /.product__info -->

            </div>
            <!-- /.product__content -->

            <div class="product__tabs product-tabs">
                <div class="product-tabs__group tabs-header">
                    {% if product.description %}
                        <button type="button" class="tabs-header__item" data-id="tab-1">Описание</button>
                    {% endif %}
                    {% if product_attributes %}
                        <button type="button" class="tabs-header__item" data-id="tab-2">Характеристики</button>
                    {% endif %}
                    {% if delivery %}
                        {% if delivery.content.html %}
                        <button type="button" class="tabs-header__item" data-id="tab-3">Оплата и доставка</button>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="tabs-header__item" data-id="tab-4">Отзывы
                        (<span class="reviews-cnt">{{ product.reviews.all|length }}</span>)
                    </button>
                    <button type="button" class="tabs-header__item" data-id="tab-5">Задать вопрос</button>
                </div>
                <div class="tabs-content">
                    {% if product.description %}
                        <div class="tabs-content__item" id="tab-1">
                            <div class="page-content">
                            {{ product.description.html | safe }}
                            </div>
                        </div>
                    {% endif %}
                    {% if product_attributes  %}
                        <div class="tabs-content__item" id="tab-2">
                            <ul class="attributes-list">
                            {% for attribute in product_attributes %}
                                <li class="attributes-list__item attribute-item">
                                    <em class="attribute-item__label">
                                        {{ attribute.name }}
                                    </em>
                                    <strong class="attribute-item__value">
                                        {{ attribute.value }}
                                    </strong>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if delivery %}
                    <div class="tabs-content__item" id="tab-3">
                        <div class="page-content">
                            {{ delivery.content.html | safe }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="tabs-content__item" id="tab-4">
                        <form class="form-product-review" action="." method="post">
                            {% csrf_token %}
                            {{ review_form.as_p }}
                            <button type="submit" class="btn_submit-review">Отправить</button>
                        </form>
                        <ul class="reviews-list">
                            {% for review in product.reviews.all %}
                                {% include 'reviews/review-detail.html' %}
                            {% endfor %}
                        </ul>

                    </div>

                    <div class="tabs-content__item" id="tab-5">
                        <form class="form-question" action="{% url 'catalog:question' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product" value="{{ product.name }}">
                            <input type="text" name="name" placeholder="Имя" required>
                            <input type="tel" name="tel" placeholder="Телефон" required>
                            <textarea name="msg" cols="30" rows="10" placeholder="Вопрос" required></textarea>
                            <button type="submit" class="btn_submit-review">Отправить</button>
                            <div class="notice"></div>
                        </form>

                    </div>

                </div>
            </div>
            <!-- /.product-tabs -->

        </div>
    </main>
    <!-- /.product -->

    {% if similar_products|length %}
    <section class="top-products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Похожие товары</h2>
            </div>
            <ul class="top-products__slider products-slider">
                {% for product in similar_products %}
                    {% include 'catalog/archive-product.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}

    {% if accessories|length %}
    <section class="latest-products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Аксесуары</h2>
            </div>
            <ul class="latest-products__slider products-slider">
                {% for product in accessories %}
                    {% include 'catalog/archive-product.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}
{% endblock %}