{% extends 'layout/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <main class="product">
        <div class="container">
            <h1 class="product__title">
                {{ product.name }}
            </h1>
            <p class="product__sku">
                Код: {% firstof product.sku '#Н/Д' %}
            </p>

            <div class="product__content">

                <!-- class gallery or static -->
                <div class="product__gallery gallery">
                    <div class="aside-gallery {% if product.images.count > 3 %}gallery{% else %}static{% endif %}">
                        {% for image in product.images.all %}
                            <div class="aside-gallery__item" data-slick-index="{{ forloop.counter0 }}">
                                <img src="{{ image.file | thumbnail_url:'small' }}"
                                     alt="{{ image.alt }}" loading="lazy">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="main-product-gallery">
                        {% for image in product.images.all %}
                            <div class="main-product-gallery__item">
                                <div class="thumb">
                                    <img src="{{ image.file | thumbnail_url:'medium' }}"
                                         alt="{{ image.alt }}" loading="lazy">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="btn btn_add-to-wishlist">
                        <img src="{% static 'img/icon-heart.png' %}" alt="сердце" loading="lazy">
                    </button>
                </div>
                <!-- /.product__gallery -->

                <div class="product__info">
                    <div class="product__price">
                        {% if product.price_sale %}
                        <del>
                            {{ product.price | floatformat:"0" }} руб.
                        </del>
                        &nbsp;
                        <ins>
                            {{ product.price_sale | floatformat:"0" }} руб.
                        </ins>
                        {% else %}
                            <span>
                                {{ product.price | floatformat:"0" }} руб.
                            </span>
                        {% endif %}
                    </div>
                    <div class="product__quantity quantity">
                        <span>Выберите количество:</span>
                        <div class="quantity__group">
                            <button type="button" class="decr">-</button>
                            <input type="text" class="quantity__input" value="1">
                            <button type="button" class="inc">+</button>
                        </div>
                    </div>
                    {% if product.excerpt %}
                        <div class="product__excerpt">
                            {{ product.excerpt }}
                        </div>
                    {% endif %}
                    <ul class="product__features product-features">
                        <li class="product-features__item">
                            <div class="thumb">
                                <img src="{% static 'img/icon-delivery-secondary.png' %}" alt="доставка">
                            </div>
                            Доставка по Москве за 2-3 дня <br>
                            Доставка по всей России
                        </li>
                    </ul>
                    <div class="product__add-to-cart">
                        <a href="#" class="btn btn_add-to-cart">Купить</a>
                    </div>
                </div>
                <!-- /.product__info -->

            </div>
            <!-- /.product__content -->

            <div class="product__tabs product-tabs">
                <div class="product-tabs__group tabs-header">
                    {% if product.content %}
                        <button type="button" class="tabs-header__item" data-id="tab-1">Описание</button>
                    {% endif %}
                    {% if product_attributes %}
                        <button type="button" class="tabs-header__item" data-id="tab-2">Характеристики</button>
                    {% endif %}
                    <button type="button" class="tabs-header__item">Оплата и доставка</button>
                    <button type="button" class="tabs-header__item">Отзывы</button>
                    <button type="button" class="tabs-header__item">Задать вопрос</button>
                </div>
                <div class="tabs-content">
                    {% if product.content %}
                        <div class="tabs-content__item" id="tab-1">
                            {{ product.content.html | safe }}
                        </div>
                    {% endif %}
                    {% if product_attributes  %}
                        <div class="tabs-content__item" id="tab-2">
                            <ul class="attributes-list">
                            {% for attribute in product_attributes %}
                                <li class="attributes-list__item attribute-item">
                                    <em class="attribute-item__label">
                                        {{ attribute.name }}
                                    </em>
                                    <strong class="attribute-item__value">
                                        {{ attribute.value }}
                                    </strong>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- /.product-tabs -->

        </div>
    </main>
    <!-- /.product -->

    <section class="top-products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Похожие товары</h2>
            </div>
            <ul class="top-products__slider products-slider">
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
            </ul>
        </div>
    </section>
    <!-- /.top-products -->

    <section class="latest-products">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title">Аксесуары</h2>
            </div>
            <ul class="latest-products__slider products-slider">
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
                <li class="archive-product">
                    <div class="archive-product__inner">
                        <a href="#" class="thumb">
                            <img src="./img/product-thumb.png" alt="продукт">
                        </a>
                        <h3 class="archive-product__title">
                            <a href="#">Microsoft Windows 10 Home 32/64b Многоязычная ESD</a>
                        </h3>
                        <p class="archive-product__price">
                            <span class="current">
                                <strong>4 397 </strong> <span class="currency">руб.</span>
                            </span>
                        </p>
                        <div class="archive-product__controls">
                            <button class="btn_add-to-wishlist">
                                <img src="./img/icon-heart.png" alt="сердце">
                            </button>
                            <a href="#" class="btn btn__add-to-cart">В корзину</a>
                        </div>
                    </div>
                </li>
                <!-- /.archive-product -->
            </ul>
        </div>
    </section>
    <!-- /.latest-products -->
{% endblock %}