<div class="variation-section">
    <aside class="variation-filters">
        <button type="button" class="btn btn_filter">Подбор параметров</button>
        <form class="variation-filters">
            {% for filter in filters %}
            <div class="variation-filters__item variation-filter">
                <h3 class="variation-filter__header{% if forloop.counter > 3 %} active{% endif %}">{{ filter.name }}</h3>
                <div class="variation-filter__fields variation-fields">
                    {% for key in filter.values %}
                    <fieldset class="variation-fields__fieldset" {% if forloop.parentloop.counter > 3 %}style="display:none;"{% endif %}>
                        <label>
                            <input type="checkbox" class="variation-fields__input" name="{{ filter.slug }}" value="{{ key.value }}">
                            <span class="variation-fields__pseudo-input"></span>
                            <span class="variation-fields__value">{{ key.value }}</span>
                        </label>
                    </fieldset>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="variation-filters__control">
                <button type="reset">Сбросить</button>
            </div>
        </form>
    </aside>
    <div class="variation-content">
        <div class="variation-tabs">
        <button type="button" class="active" data-id="v-1">Лицензии продукта</button>
        {% if product.description %}
            <button type="button" data-id="v-2">Описание продукта</button>
        {% endif %}
        {% if product.licence_schemes %}
            <button type="button" data-id="v-3">Схемы лицензии</button>
        {% endif %}
    </div>
        <div class="variation-content-group">
        <div id="v-1" class="variation-content-group__item active">
            {% for tag in tags %}
            <div class="variation-term">
                <h3 class="variation-term__header">{{ tag.name }}</h3>
                <p class="variation-term__description">{{ tag.description }}</p>
                <div class="variation-term__related-products">
                    {% for product in tag.products.all %}
                        {% if filtered != 'yes' or product.id in var_list_products %}
                        <form action="{% url 'cart:cart_add' product.id %}" method="post"
                              class="related-product add-to-cart-form">
                            {% csrf_token %}
                            <div class="related-product__header">
                                <h4 class="related-product__title">{{ product.name }}</h4>
                                <a href="{{ product.get_absolute_url }}" class="related-product__article">{% firstof product.sku '#Н/Д' %}</a>
                            </div>
                            <div class="related-product__quantity">
                                <div class="quantity__group">
                                    <button type="button" class="decr">-</button>
                                        {% for field in cart_product_form %}
                                            {{ field }}
                                        {% endfor %}
                                    <button type="button" class="inc">+</button>
                                </div>
                            </div>
                            <div class="related-product__price">
                                {% if product.price == 1.00 %}
                                <p>Цена по запросу</p>
                                {% else %}
                                    {% if product.price_sale %}
                                    <del>
                                        {{ product.price | floatformat:"0" }} руб.
                                    </del>
                                    &nbsp;
                                    <ins>
                                        {{ product.price_sale | floatformat:"0" }} руб.
                                    </ins>
                                    {% else %}
                                        <span>
                                            {{ product.price | floatformat:"0" }} руб.
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="related-product__buy">
                                <button type="submit" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                            </div>
                        </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="v-2" class="variation-content-group__item page-content">
            {{ product.description.html | safe }}
        </div>
        <div id="v-3" class="variation-content-group__item page-content">
            {{ product.licence_schemes.html | safe }}
        </div>
    </div>
    </div>
</div>