<div class="variation-section">
    <aside class="variation-filters">
        <button type="button" class="btn btn_filter">Подбор параметров</button>
        <form class="variation-filters">
            <div class="variation-filters__item variation-filter">
                <h3 class="variation-filter__header">Тип компьютера</h3>
                <div class="variation-filter__fields variation-fields">
                    <fieldset class="variation-fields__fieldset">
                        <label>
                            <input type="radio" class="variation-fields__input" name="v-1" value="1">
                            <span class="variation-fields__pseudo-input"></span>
                            <span class="variation-fields__value">Электронная лицензия</span>
                        </label>
                    </fieldset>
                    <fieldset class="variation-fields__fieldset">
                        <label>
                            <input type="radio" class="variation-fields__input" name="v-1" value="2">
                            <span class="variation-fields__pseudo-input"></span>
                            <span class="variation-fields__value">ОЕМ</span>
                        </label>
                    </fieldset>    
                </div>
            </div>
            <!-- /.variation-filter -->
            <div class="variation-filters__item variation-filter">
                <h3 class="variation-filter__header">Я покупаю для</h3>
                <div class="variation-filter__fields variation-fields">
                    <fieldset class="variation-fields__fieldset">
                        <label>
                            <input type="radio" class="variation-fields__input" name="v-2" value="1">
                            <span class="variation-fields__pseudo-input"></span>
                            <span class="variation-fields__value">Электронная лицензия</span>
                        </label>
                    </fieldset>
                    <fieldset class="variation-fields__fieldset">
                        <label>
                            <input type="radio" class="variation-fields__input" name="v-2" value="2">
                            <span class="variation-fields__pseudo-input"></span>
                            <span class="variation-fields__value">ОЕМ</span>
                        </label>
                    </fieldset>    
                </div>
            </div>
            <!-- /.variation-filter -->
            <div class="variation-filters__control">
                <button type="submit">Показать</button>
                <button type="reset">Сбросить</button>
            </div>
        </form>
    </aside>
    <div class="variation-content">
        <div class="variation-tabs">
        <button type="button" class="active" data-id="v-1">Лицензии продукта</button>
        <button type="button" data-id="v-2">Описание продукта</button>
        <button type="button" data-id="v-3">Схемы лицензии</button>
    </div>
        <div class="variation-content-group">
        <div id="v-1" class="variation-content-group__item active">
            <div class="variation-term">
                <h3 class="variation-term__header">Windows 10 Pro. Бессрочная лицензия (мультиязычная)</h3>
                <p class="variation-term__description">Электронные лицензии для организаций и частных пользователей.</p>
                <ul class="variation-term__related-products">
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="variation-term">
                <h3 class="variation-term__header">Windows 10 Pro. Бессрочная лицензия (мультиязычная)</h3>
                <p class="variation-term__description">Электронные лицензии для организаций и частных пользователей.</p>
                <ul class="variation-term__related-products">
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="variation-term">
                <h3 class="variation-term__header">Windows 10 Pro. Бессрочная лицензия (мультиязычная)</h3>
                <p class="variation-term__description">Электронные лицензии для организаций и частных пользователей.</p>
                <ul class="variation-term__related-products">
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                    <li class="related-product">
                        <span class="related-product__counter">1</span>
                        <div class="related-product__header">
                            <h4 class="related-product__title">Комплект лицензий Windows</h4>
                            <a href="#" class="related-product__article">лицензия FQC-2i456da</a>
                        </div>
                        <div class="related-product__quantity">
                            <div class="quantity__group">
                                <button type="button" class="decr">-</button>
                                    <input type="number" name="quantity" value="1" min="1" max="99" class="quantity__input">
                                <button type="button" class="inc">+</button>
                            </div>
                        </div>
                        <div class="related-product__price">
                            <del>6530 руб.</del>
                            <ins>4500 руб.</ins>
                        </div>
                        <div class="related-product__buy">
                            <button type="button" class="related-product__btn btn btn_add-to-cart btn_add-to-cart-invert">Купить</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="v-2" class="variation-content-group__item page-content">tab 2</div>
        <div id="v-3" class="variation-content-group__item page-content">tab 3</div>
    </div>
    </div>
</div>